{% extends "base.html" %}
{% block titulo %}Painel{% endblock %}
{% block conteudo %}
<h1 class="h3 mb-1">Olá, {{ user.get_short_name }}</h1>
<p class="text-body-secondary">Visão geral de todas as unidades.</p>
<div class="row g-3">
  {% include "partials/card_numero.html" with titulo="Unidades ativas" valor=total_unidades icone="buildings" %}
  {% include "partials/card_numero.html" with titulo="Usuários ativos" valor=total_usuarios icone="people" %}
  {% include "partials/card_numero.html" with titulo="Locais" valor=total_locais icone="door-open" %}
  {% include "partials/card_numero.html" with titulo="Equipamentos" valor=total_equipamentos icone="tools" %}
</div>
{% include "contas/painel/_atalhos_cadastro.html" %}
{% endblock %}
